* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  line-height: 1.6;
}

main {
  width: 840px;
  margin: 0 auto;
}
header, footer {
  width: 100%;
}

header {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  background-color: #d7c5f3;
  padding: 1rem 2rem;
  column-gap: 20px;
}

.logo {
  width: 90px;
}


nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

nav a:hover {
  color: var(--primary-color);
}


.hero {
  position: relative;
  font-family: var(--heading-font);
}

.hero img {
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  padding: 16px;
  background-color: var(--accent1-color);
  color: #fff;
  opacity:0.7;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: rgba(0,0,0,0.4);
  padding: 1rem ;
  color: #fff;
  border-radius: 6px;
}


.hero article img {
  float: right;
  width: 125px;
  margin-left: 1rem;
  border-radius: 6px;
  }


.history {
  text-align: center;
  margin-top: 2rem;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 20px;
  margin-top: 1.2rem;
}

.history-content img {
  width: 200px;
  border-radius: 10px;
}


.adventures {
  margin-top: 2rem;
}

.adventure-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.adventure-grid img {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

figure {
  text-align: center;
  font-size: 0.9rem;
}


footer {
  
background-color: var(--accent2-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.socialmedia {
  display: flex;
  gap: 20px;
}

.socialmedia img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.contact-info,
.employees,
.contact-form {
  margin: 2rem auto;
  max-width: 900px;
}


.employee-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  text-align: center;
}
.employee-grid img {
  width: 100%;
  border-radius: 10px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem auto;
}

.map-container iframe {
    width: 100%;
    height: 350px;
    border: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .8rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    padding: 1rem;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.employees {
    text-align: center;
    margin: 3rem auto;
}

.employee-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.employee-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
}
